<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="style/images/favicon.png">
<title>Frost</title>
<!-- Bootstrap core CSS -->
<link href="style/css/bootstrap.css" rel="stylesheet">
<link href="style/css/settings.css" rel="stylesheet">
<link href="style/css/owl.carousel.css" rel="stylesheet">
<link href="style/js/google-code-prettify/prettify.css" rel="stylesheet">
<link href="style/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
<link href="style/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet">
<link href="style/css/color/blue.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
<link href="style/type/fontello.css" rel="stylesheet">
<link href="style/type/budicons.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="style/js/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>
<body>
<div class="body-wrapper">
  <div class="navbar default">
    <div class="navbar-header">
      <div class="container">
        <div class="basic-wrapper"> <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a> <a class="navbar-brand" href="index.html"><img src="style/images/logo.png" alt="" data-src="style/images/logo.png" data-ret="style/images/logo@2x.png" class="retina" /></a> </div>
        <nav class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a href="./#home">Home</a></li>
            <li><a href="./#services">Services</a></li>
            <li><a href="./#portfolio">Portfolio</a></li>
            <li><a href="./#about">About</a></li>
            <li><a href="./#pricing">Pricing</a></li>
            <li><a href="./#contact">Contact</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Features</a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu"><a href="#">Blog</a>
                  <ul class="dropdown-menu">
                    <li><a href="blog.html">Medium Image Layout</a></li>
                    <li><a href="blog2.html">Grid Blog</a></li>
                    <li><a href="blog3.html">Grid Blog with Sidebar</a></li>
                    <li><a href="blog4.html">Classic Blog</a></li>
                    <li><a href="blog-post.html">Blog Post</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu"><a href="#">Portfolio Posts</a>
                  <ul class="dropdown-menu">
                    <li><a href="portfolio-post.html">Post with Wide Slider</a></li>
                    <li><a href="portfolio-post2.html">Post with Half Slider</a></li>
                    <li><a href="portfolio-post3.html">Post with Carousel Gallery</a></li>
                    <li><a href="portfolio-post4.html">Post with Multiple Images</a></li>
                    <li><a href="portfolio-post5.html">Post with Half Images</a></li>
                    <li><a href="portfolio-post6.html">Post with Fullscreen Slider</a></li>
                    <li><a href="portfolio-post7.html">Post with Fullwidth Video</a></li>
                    <li><a href="portfolio-post8.html">Post with Half Video</a></li>
                  </ul>
                </li>
                <li><a href="elements.html">Elements</a></li>
                <li><a href="headings.html">Headings</a></li>
                <li><a href="footer.html">Footer with Widgets</a></li>
                <li><a href="pricing.html">Pricing Table</a></li>
                <li><a href="fontello.html">Font Icons - Fontello</a></li>
                <li><a href="budicon.html">Font Icons - Budicon</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!--/.nav-collapse --> 
  </div>
  <!--/.navbar -->
  <div class="offset"></div>
  <div class="light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-sm-8 content">
          <div class="blog-posts classic-blog">
            <div class="post">
              <figure class="main"><img src="style/images/art/bb1.jpg" alt="" /></figure>
              <div class="post-content">
                <h1 class="post-title">Nibh Purus Pellentesque</h1>
                <div class="meta"><span class="date">20 May</span><span class="categories"><a href="#">Photography</a>, <a href="#">Daily</a></span><span class="comments"><a href="#">15 Comments</a></span></div>
                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Donec sed odio dui <a href="#">consectetur adipiscing</a> elit. <span class="highlight">Etiam adipiscing</span> tincidunt elit, eu convallis felis suscipit ut. <span class="highlight2">Phasellus rhoncus tincidunt</span> auctor. Nullam eu sagittis mauris. Donec non dolor ac elit aliquam tincidunt at at sapien. Aenean tortor libero, condimentum ac laoreet vitae, varius tempor nisi. Duis non arcu vel lectus. </p>
                <ul class="circled">
                  <li>Mauris lacinia dui non metus dignissim venenatis.</li>
                  <li>Etiam elit tellus, condimentum tempor lobortis non.</li>
                  <li>Aliquam pharetra vestibulum arcu, eget iaculis. </li>
                </ul>
                <div class="divide30"></div>
                <h3>Pellentesque Euismod Amet</h3>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna vel.</p>
                <div class="row">
                  <div class="col-sm-6">
                    <figure> <a href="style/images/art/bp1-full.jpg" class="fancybox-media" data-rel="portfolio">
                      <div class="text-overlay">
                        <div class="info">View Larger</div>
                      </div>
                      <img src="style/images/art/bp1.jpg" alt="" /></a></figure>
                  </div>
                  <div class="col-sm-6">
                    <figure> <a href="style/images/art/bp2-full.jpg" class="fancybox-media" data-rel="portfolio">
                      <div class="text-overlay">
                        <div class="info">View Larger</div>
                      </div>
                      <img src="style/images/art/bp2.jpg" alt="" /></a></figure>
                  </div>
                </div>
                <p> Mauris convallis, sapien id ultricies aliquet, mi nisi congue dui, id laoreet ligula ante vitae ligula. Duis lectus magna, cursus in molestie eget, cursus eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi ullamcorper laoreet metus, eu commodo diam cursus et. Nam eleifend aliquam augue, id condimentum erat vehicula vel. Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet.</p>
                <div class="divide30"></div>
                <h3>Sit Vulputate Bibendum Purus</h3>
                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                <figure> <a href="style/images/art/bb2.jpg" class="fancybox-media" data-rel="portfolio">
                  <div class="text-overlay">
                    <div class="info">View Larger</div>
                  </div>
                  <img src="style/images/art/bb2.jpg" alt="" /></a></figure>
                <p>Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui.
                  
                  Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
                <div class="meta tags"><a href="#">journal</a>, <a href="#">illustration</a>, <a href="#">design</a>, <a href="#">daily</a></div>
                <div class="share-links">
                  <ul>
                    <li><a class="btn share-facebook" href="#">Like</a></li>
                    <li><a class="btn share-twitter" href="#">Tweet</a></li>
                    <li><a class="btn share-pinterest" href="#">Pin it</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /.blog-posts -->
          
          <hr />
          <div class="about-author image-caption">
            <div class="author-image"> <img alt="" src="style/images/art/author.jpg" /> </div>
            <div class="author-details">
              <h3>About the author</h3>
              <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum.</p>
              <ul class="social">
                <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <hr />
          <div id="comments">
            <h3>4 Comments</h3>
            <ol id="singlecomments" class="commentlist">
              <li>
                <div class="user"><img alt="" src="style/images/art/u1.jpg" class="avatar" /></div>
                <div class="message">
                  <div class="arrow-box">
                    <div class="info">
                      <h2><a href="#">Connor Gibson</a></h2>
                      <div class="meta"> <span class="date">January 14, 2010</span> <span class="reply"><a class="reply-link" href="#">Reply</a></span> </div>
                    </div>
                    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="user"><img alt="" src="style/images/art/u2.jpg" class="avatar" /></div>
                <div class="message">
                  <div class="arrow-box">
                    <div class="info">
                      <h2><a href="#">Nikolas Brooten</a></h2>
                      <div class="meta"> <span class="date">February 21, 2010</span> <span class="reply"><a class="reply-link" href="#">Reply</a></span> </div>
                    </div>
                    <p>Quisque tristique tincidunt metus non aliquam. Quisque ac risus sit amet quam sollicitudin vestibulum vitae malesuada libero. Mauris magna elit, suscipit non ornare et, blandit a tellus. Pellentesque dignissim ornare elit, quis mattis eros sodales ac.</p>
                  </div>
                </div>
                <ul class="children">
                  <li class="bypostauthor">
                    <div class="user"><img alt="" src="style/images/art/u3.jpg" class="avatar" /></div>
                    <div class="message">
                      <div class="arrow-box bypostauthor">
                        <div class="info">
                          <h2><a href="#">Pearce Frye</a></h2>
                          <div class="meta"> <span class="date">February 22, 2010</span> <span class="reply"><a class="reply-link" href="#">Reply</a></span> </div>
                        </div>
                        <p>Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit non magna.</p>
                      </div>
                    </div>
                    <ul class="children">
                      <li>
                        <div class="user"><img alt="" src="style/images/art/u2.jpg" class="avatar" /></div>
                        <div class="message">
                          <div class="arrow-box">
                            <div class="info">
                              <h2><a href="#">Nikolas Brooten</a></h2>
                              <div class="meta"> <span class="date">April 4, 2010</span> <span class="reply"><a class="reply-link" href="#">Reply</a></span> </div>
                            </div>
                            <p>Nullam id dolor id nibh ultricies vehicula ut id. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <div class="user"><img alt="" src="style/images/art/u4.jpg" class="avatar" /></div>
                <div class="message">
                  <div class="arrow-box">
                    <div class="info">
                      <h2><a href="#">Lou Bloxham</a></h2>
                      <div class="meta"> <span class="date">May 03, 2010</span> <span class="reply"><a class="reply-link" href="#">Reply</a></span> </div>
                    </div>
                    <p>Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  </div>
                </div>
              </li>
            </ol>
          </div>
          <!-- /#comments -->
          <hr />
          <div class="comment-form-wrapper">
            <h3>Would you like to share your thoughts?</h3>
            <p>Your email address will not be published. Required fields are marked *</p>
            <form class="comment-form" name="form_name" action="#" method="post">
              <div class="name-field">
                <input type="text" name="first" title="Name*"/>
              </div>
              <div class="email-field">
                <input type="text" name="first" title="Email*" />
              </div>
              <div class="website-field">
                <input type="text" name="first" title="Website" />
              </div>
              <div class="message-field">
                <textarea name="textarea" id="textarea" rows="5" cols="30" title="Enter your comment here..."></textarea>
              </div>
              <input type="submit" value="Submit" name="submit" class="btn btn-submit" />
            </form>
          </div>
          <!-- /.comment-form-wrapper --> 
          
        </div>
        <!-- /.content -->
        <aside class="col-sm-4 sidebar lp30">
          <div class="sidebox widget">
            <form class="searchform" method="get">
              <input type="text" id="s2" name="s" value="type and hit enter" onfocus="this.value=''" onblur="this.value='type and hit enter'"/>
            </form>
          </div>
          <!-- /.widget -->
          <div class="sidebox widget">
            <div class="section-title">
              <h3 class="widget-title">Popular Posts</h3>
            </div>
            <ul class="post-list">
              <li>
                <div class="icon-overlay"> <a href="blog-post.html"><img src="style/images/art/a1.jpg" alt="" /> </a> </div>
                <div class="meta">
                  <h6><a href="blog-post.html">Magna Mollis Ultricies</a></h6>
                  <em>3th Oct 2012</em> </div>
              </li>
              <li>
                <div class="icon-overlay"> <a href="blog-post.html"><img src="style/images/art/a2.jpg" alt="" /> </a> </div>
                <div class="meta">
                  <h6><a href="blog-post.html">Ornare Nullam Risus</a></h6>
                  <em>28th Sep 2012</em> </div>
              </li>
              <li>
                <div class="icon-overlay"> <a href="blog-post.html"><img src="style/images/art/a3.jpg" alt="" /> </a> </div>
                <div class="meta">
                  <h6><a href="blog-post.html">Euismod Nullam</a></h6>
                  <em>15th Aug 2012</em> </div>
              </li>
            </ul>
            <!-- /.post-list --> 
          </div>
          <!-- /.widget -->
          <div class="sidebox widget">
            <div class="section-title">
              <h3 class="widget-title">Elsewhere</h3>
            </div>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus.</p>
            <ul class="social">
              <li><a href="#"><i class="icon-s-rss"></i></a></li>
              <li><a href="#"><i class="icon-s-twitter"></i></a></li>
              <li><a href="#"><i class="icon-s-facebook"></i></a></li>
              <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
              <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
              <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
              <li><a href="#"><i class="icon-s-flickr"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <!-- /.widget -->
          
          <div class="sidebox widget">
            <div class="section-title">
              <h3 class="widget-title">Custom Text</h3>
            </div>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue. Fusce  mauris condimentum.</p>
          </div>
          <!-- /.widget -->
          <div class="sidebox widget">
            <div class="section-title">
              <h3 class="widget-title">Categories</h3>
            </div>
            <ul class="circled">
              <li><a href="#">Web Design (21)</a></li>
              <li><a href="#">Photography (19)</a></li>
              <li><a href="#">Graphic Design (16)</a></li>
              <li><a href="#">Manipulation (15)</a></li>
              <li><a href="#">Motion Graphics (12)</a></li>
            </ul>
          </div>
          <!-- /.widget -->
          <div class="sidebox widget">
            <div class="section-title">
              <h3 class="widget-title">Tags</h3>
            </div>
            <ul class="tag-list">
              <li><a href="#">Web</a></li>
              <li><a href="#">Photography</a></li>
              <li><a href="#">Illustation</a></li>
              <li><a href="#">Fun</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Inspiration</a></li>
              <li><a href="#">Tips</a></li>
              <li><a href="#">Manipulation</a></li>
              <li><a href="#">Graphic</a></li>
              <li><a href="#">Travel</a></li>
              <li><a href="#">Concept</a></li>
              <li><a href="#">Print</a></li>
            </ul>
            <!-- /.tag-list --> 
          </div>
          <!-- /.widget --> 
        </aside>
        <!-- /.col-sm-4 .sidebar --> 
        
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper -->
  
  <footer class="footer">
    <div class="container inner">
      <p class="pull-left">© 2014 Frost. All rights reserved. Theme by <a href="http://elemisfreebies.com">elemis</a>.</p>
      <ul class="social pull-right">
        <li><a href="#"><i class="icon-s-rss"></i></a></li>
        <li><a href="#"><i class="icon-s-twitter"></i></a></li>
        <li><a href="#"><i class="icon-s-facebook"></i></a></li>
        <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
        <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
        <li><a href="#"><i class="icon-s-instagram"></i></a></li>
        <li><a href="#"><i class="icon-s-vimeo"></i></a></li>
      </ul>
    </div>
    <!-- .container --> 
  </footer>
  <!-- /footer --> 
</div>
<!-- .body-wrapper --> 
<script src="style/js/jquery.min.js"></script> 
<script src="style/js/bootstrap.min.js"></script> 
<script src="style/js/twitter-bootstrap-hover-dropdown.min.js"></script> 
<script src="style/js/jquery.themepunch.plugins.min.js"></script> 
<script src="style/js/jquery.themepunch.revolution.min.js"></script> 
<script src="style/js/jquery.easytabs.min.js"></script> 
<script src="style/js/owl.carousel.min.js"></script> 
<script src="style/js/jquery.isotope.min.js"></script> 
<script src="style/js/jquery.fitvids.js"></script> 
<script src="style/js/jquery.fancybox.pack.js"></script> 
<script src="style/js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.2"></script> 
<script src="style/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.0"></script> 
<script src="style/js/jquery.slickforms.js"></script> 
<script src="style/js/instafeed.min.js"></script> 
<script src="style/js/retina.js"></script> 
<script src="style/js/google-code-prettify/prettify.js"></script> 
<script src="style/js/scripts.js"></script>
</body>
</html>